:root {
   --font-odibee-sans: "Odibee Sans", cursive;
   --color-blue-btn: #006cfc;
   --color-blue-border: #001997;
   --color-green-title: #009048;
}

* {
   box-sizing: border-box;
}

body {
   background-image: url("./assets/fondo.svg");
   margin: 0;
   overflow-y: hidden;
   height: 100vh;
}

.root {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
